# Ignore general data, models, outputs, and caches
data/*
models/*
outputs/*
__pycache__
.coverage
.coverage*
.mypy_cache
.pytest_cache
.venv
*.env

# Exceptions for specific README and environment files
!data/README.md
!models/README.md
!outputs/README.md
!environments/ci/.env
!environments/cpu/.env
!environments/gpu/.env
!data/tsukuba/*

# System and debug files
.DS_Store
/gaussian_mixture_results
/debug_output

# Specific files added by the feature branch
/pipelines/results/*
/results/*
utils/test.py
